.root {
  padding-top: 1rem;
}

.all {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.colring {
  color: #6495ed;
  /* color: #008080; */
}

.titleF{
  text-align: left;
  align-items: left;

  font-size: 22px;
  text-transform: capitalize;
  
}

.content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    width: 100%;
    max-width: 100%;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.persentage{
  font-size: 16px;
}

.imageLeft {
  /* width: 100%; */
  width: 350px;
  max-height: 450px;
  object-fit: cover;
  /* height: 100%; */
}

.resultContainer {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .resultContainer {
    width: 100%;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
/* .bulletPoint {
  margin-bottom: 1rem;
} */

.checklist {
  margin: 0;
  padding-left: 1.2rem;
}

.checklist li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}


.checklist li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.warningNote{
  margin-top: 1rem;
  display: flex;
  gap: 15px;
  /* position: fixed; */
  /* bottom: 0; */
  padding: 1.5rem 5rem;
  border-top: 2px solid #7a7a7a;
  /* background-color: rgb(125, 125, 125); */
}

@media (max-width: 768px) {
  .warningNote{
    margin-top: 1rem;
    display: flex;
    gap: 15px;
    /* position: fixed; */
    /* bottom: 0; */
    padding: 1.5rem 1rem;
    border-top: 2px solid #7a7a7a;
    /* background-color: rgb(125, 125, 125); */
  }
}

.infoicon{
  /* background-color: rgb(125, 125, 125); */
  /* color: black; */
}

.warningNote p{
  /* background-color: rgb(125, 125, 125); */
  /* color: black; */
}

.textTag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #FFD700; /* yellow */
  color: #333;
}

.textTag.type1 {
}

.textTag.type2 {
  background-color: #FF4500; /* orange */
  color: #FFF;
}

.textTag.type3 {
  background-color: #800080; /* purple */
  color: #FFF;
}

